In [ ]:
import pandas as pd
import json
import os
import psycopg2

In [ ]:
! wget https://raw.githubusercontent.com/Ginden/capitals/master/europe.json

In [ ]:
host = 'postgres'
database = 'postgres'
user = 'postgres'
password = os.environ['POSTGRES_PASSWORD']
connection_string = f'host={host} dbname={database} user={user} password={password}'

In [ ]:
def execute_simple_sql(sql, fetch='None'):
    with psycopg2.connect(connection_string) as conn:
        with conn.cursor() as curs:
            if fetch=='None':
                curs.execute(sql)
            elif fetch=='One':
                curs.execute(sql)
                result = curs.fetchone();
                return result

In [ ]:
sql='CREATE TABLE capitals(gid serial PRIMARY KEY, name TEXT, point geography(POINT,4326) );'
execute_simple_sql(sql)

In [ ]:
with open('europe.json') as f:
    data = json.load(f)
    for a_capital in data:
        capital_name = a_capital['properties']['capital']
        lon = a_capital['geometry']['coordinates'][0]
        lat = a_capital['geometry']['coordinates'][1]
        sql = f"INSERT INTO capitals (name, point) VALUES ('{capital_name}', 'SRID=4326;POINT({lon} {lat})');"
        #Please do not use the following function in a loop over a larger dataset
        execute_simple_sql(sql)