In [1]:
import cobra.utils.filehandling as fh
import cobra.utils.jobhandling as jh

In [2]:
fileman = fh.Filemanager()
jobman = jh.Jobmanager()

In [ ]:
#fileman.download_shape_archive('https://download.geofabrik.de/europe/portugal-latest-free.shp.zip','Portugal')

#fileman.download_shape_archive('https://download.geofabrik.de/europe/germany/nordrhein-westfalen/detmold-regbez-latest-free.shp.zip', 'Duesseldorf')

In [3]:
fileman.get_data().head()

,Type,Dataset,File,Path,Size (MB)
0,Shape,Duesseldorf,gis_osm_buildings_a_free_1.shp,/download/Duesseldorf,357.60
1,Shape,Duesseldorf,gis_osm_pois_free_1.shp,/download/Duesseldorf,10.24
2,Shape,Duesseldorf,gis_osm_natural_a_free_1.shp,/download/Duesseldorf,0.03
3,Shape,Duesseldorf,gis_osm_transport_free_1.shp,/download/Duesseldorf,2.06
4,Shape,Duesseldorf,gis_osm_traffic_a_free_1.shp,/download/Duesseldorf,5.22

In [13]:
datasets = fileman.get_data()
ddorf_buildings = datasets.iloc[1]

In [14]:
jobman.create_job_from_dataset(ddorf_buildings)

In [15]:
jobman.get_jobs(df=True)

,UUID,Name,Job Type,Date created,Date started,Date finished,Priority,Status
0,a5e43d11-65d0-486a-8b0b-eea86a46b621,Load shape from Duesseldorf,shape2pg,"Mon, 27 Dec 2021 16:46:49 GMT","Mon, 27 Dec 2021 17:37:21 GMT",None,42,Failed
1,604f162f-78d8-48a0-ae82-ef0cbadb2514,Load shape from Duesseldorf,shape2pg,"Mon, 27 Dec 2021 18:03:15 GMT","Mon, 27 Dec 2021 18:25:51 GMT","Mon, 27 Dec 2021 18:25:51 GMT",42,Finished
2,cfd652ec-beb4-4a70-aec5-395f0c500acb,Load shape from Duesseldorf,shape2pg,"Mon, 27 Dec 2021 18:40:48 GMT",None,None,42,Waiting